{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">La réponse à vos questions...</h1>
    </div>
</div>
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-question">Poser une Question</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                <div class="q-container p-4">
                    <div class="row">
                        <div class="col-2 text-center">
                            <img src="{{asset('/images/fry.png')}}" width="100" height="100">
                            <div class="d-block mt-3 vote-arrows">
                                <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                                <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                            </div>
                        </div>
                        <div class="col">
                            <a class="q-title" href="{{path('app_question_show', {slug: 'faire-le-plein'})}}"><h2>Faire le plein</h2></a>
                            <div class="q-display p-3">
                                <i class="fa fa-quote-left mr-3"></i>
                                <p class="d-inline">Quelle est la station la moins chère pour faire le plein d'ergole ?</p>
                                <p class="pt-4"><strong>--Fry</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="answer-link" href="#" style="color: #fff;">
                    <p class="q-display-response text-center p-3">
                        <i class="fa fa-comments"></i> 6 réponses
                    </p>
                </a>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="q-container p-4">
                <div class="row">
                    <div class="col-2 text-center">
                        <img src="{{asset('/images/bender.png')}}" width="100" height="100">
                        <div class="d-block mt-3 vote-arrows">
                            <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                            <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <a class="q-title" href="{{path('app_question_show', {slug: 'sortir-d-un-trou-noir'})}}"><h2>Sortir d'un trou noir</h2></a>
                        <div class="q-display p-3">
                            <i class="fa fa-quote-left mr-3"></i>
                            <p class="d-inline">Je suis tombé sans faire exprés dans un trou noir, pouvez vous m'indiquer comment sortir de là ?</p>
                            <p class="pt-4"><strong>--Bender</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="answer-link" href="#" style="color: #fff;">
                <p class="q-display-response text-center p-3">
                    <i class="fa fa-comments"></i> 15 réponses
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock %}

