<h3>{{question.title}} ?</h3>

{# {{archived ? 'question archivée' : 'question pas archivée'}} #}

<p>Nombre de réponse(s) disponible(s) : {{answers|length}}</p>

<ul>
    {% for answer in answers %}
        <li>{{answer|capitalize}}</li>
    {% endfor %}
</ul>

